APModCookieClicker_AutoUpdater.js
APModCookieClicker_V1.js
APModCookieClicker_V2.js
todos.txt
make_apworld_and_copy_to_AP.bat
ArchipelagoGenerate.exe - Shortcut.lnk
ArchipelagoTextClient.lnk
cookieclicker.apworld
__pycache__/

#Added By TeamLila
build_TLTest.sh
